.toggle-switch {
    position: fixed;
    left: 20px;
    bottom: 50px;
    width: 80px;
    z-index: 9999;
  }
  
  label {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: var(--color-accent);
    border-radius: 50px;
    cursor: pointer;
  }
  
  input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  input.checked ~ .slider {
    background-color: var(--color-accent);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5.2px;
    left: 6.4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: inset 9.6px -1.6px 0px 0px var(--color-sec-button);
    background-color: var(--color-accent);
    transition: 0.3s;
  }
  
  input.checked ~ .slider::before {
    transform: translateX(38px);
    background-color: var(--color-sec-button);
    box-shadow: none;
  }
